@font-face {
    font-family: "ubuntu";
    src: url("../fonts/Ubuntu.ttf") format("truetype");
  }
* {
    box-sizing: border-box;    
}
:root {
    --transform: 0.4s;
    --color-green: #01813F;
  }
html {
    font-family: "ubuntu";
}
body {
    width: 100vw;
    height: 100vh;
   }
/*------------------------------- header---------------------------------- */
.header {   
    display: flex;   
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 58px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
} 
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 1px solid red;
}
.journey {
    display: flex;
    position: relative; 
    margin-left: 79px;  
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: var(--transform);
}
.journey:hover {
    color: var(--color-green);
    cursor: pointer;
}
.info {
    display: flex; 
    align-items: center;
    margin-right: 79px;
   }
.block-svg {
    display: flex;
    align-items: center;
    width: 150px;
    height: 58px;
    position: relative; 
}
.svg-1 {    
    position: absolute;
    left: 0;
    cursor: pointer;
    fill: var(--color-green) ;    
}
.svg-2 {    
    position: absolute;
    left: 47px;
    cursor: pointer;
}
.svg-3 {    
    position: absolute;
    left: 95px;
    cursor: pointer;
} 
.svg-1 path,
.svg-2 path,
.svg-3 path {         
    transition: var(--transform);
}
.svg-1:hover path,
.svg-2:hover path,
.svg-3:hover path {
    fill: var(--color-green);
}
.hr {
    position: absolute;
    left: 145px;
    width: 2px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);       
    opacity: 0.5;
}
.welcome {   
    margin-left: 27px; 
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: var(--transform);
}
.welcome span {   
    transition: var(--transform);
}
.welcome span:nth-child(1):hover,
.welcome span:nth-child(3):hover {
    color:grey;
    cursor: pointer;
}
.welcome span:nth-child(2):hover,
.welcome span:nth-child(4):hover {
    color: var(--color-green);
    cursor: pointer;
}
/* ----------------------Модальне вікно------------------------ */
.modal {
    margin-top: 58px;
    position: relative;
    width: 444px;
    height: 584px;
    display: flex;   
    justify-content: center;    
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green-block {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}  

.modal-box {
    margin-top: 27px;
     width: 324px;
     height: 515px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: stretch;   
}
.modal-header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;   
} 
.modal-header > p:first-child {   
     font-size: 20px;
     line-height: 20px;
     color: #434343;
}
.modal-header > p:nth-child(2) {
     font-size: 14px;
     line-height: 14px;
     cursor: pointer;
     color: #3CB878;
     transition: var(--transform);
}
.modal-header > p:nth-child(2):hover {
     color: var(--color-green);
}
.modal-logo {
    margin-top: 15px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.face,
.google {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    width: 158px;
    height: 48px;   
    cursor: pointer;
}
.logo-img-1 {
    width: 12.5px;
    height: 24px;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;   
    margin-left: 17px;
}
.logo-img-2 {
    width: 30px;
    height: 19px;
    background-image: url(../img/G.png);
    background-repeat: no-repeat;
    background-size: 30px 19px;
    margin-left: 12px;
}
.logo-line-1 {
    width: 2px;
    height: 28px;    
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-left: 19px;    
}
.logo-line-2 {
    width: 2px;
    height: 28px;    
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-left: 7px;    
}
.logo-text {
    margin-left: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.face {
    background: #305DB8;
    transition: var(--transform);
}
.google {
    background: #DF4A32;
    transition: var(--transform);
}
.face:hover {
    background: #022263;
}
.google:hover {
    background: #AB1F09;
}
.or > p {
    margin-top: 29px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #848484;
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 44px;
    margin-top: 16px;    
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus  {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder  {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #adadad;
}
.checkbox-block {
    margin-top: 14px;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + .label-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox + .label-checkbox::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 1px;
    margin-right: 11px;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
}
.custom-checkbox:checked + .label-checkbox::before {
    background-image: url("../img/Vector-1.png");
}
.custom-checkbox:checked:hover + .label-checkbox::before {   
    background-image: url("../img/Vector-2.png");
}
.label-checkbox {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #434343;       
}
.label-checkbox > span {
    cursor: pointer;
    color: #3CB878;
    transition: var(--transform);
}
.label-checkbox > span:hover {
    color: var(--color-green);
}
   
input[type="submit"] {
    margin-top: 18px;
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;      
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: var(--transform);
}
input[type="submit"]:hover {
    background: var(--color-green);
}

   